<div id="content" ng-init="init()">
  <div ng-hide="hideSearch">
  <h1>What do you dream of seeing or doing on your next trip?</h1>
  </div>
  <div ng-hide="hideSearch" id="form">
    <input id="term-box" type="text" name="term" ng-model="term" placeholder="Write anything..." ng-keyup="$event.which == 13 ? submit() : null"/>
    <input id="submit-button" type="image" ng-click="submit()" src="/images/submit.svg"/>
  </div>
  <br class="clearer"/>
  <div id="photos" ng-show="shouldShow">
    <h1>Wow. Something like this?</h1>
    <ul>
      <li ng-repeat="photo in photos">
          <img ng-src="{{ photo.url_c }}" height="200" ng-click="getContent(photo)"/>
      </li>
    </ul>
  </div>
  <div ng-show="hideSearch">
    <h1>{{result.location}}</h1>
  </div>
  <div ng-show="hideSearch">
    <img ng-src={{result.photo}} height="400"/>
  </div>
  <div ng-show="hideSearch">
    <h2>{{result.airport}}</h2>
  </div>
  <div ng-show="hideSearch">
    <h2>{{result.distance}}</h2>
    <hr width="80%" align="center "/>
  </div>
  <div ng-show="hideSearch">
    <h2>{{result.offerTex}}</h2>
    <button>{{result.offers}}</button>
  </div>

</div>
<div id="back-button" ng-show="hideSearch">
  <img id="icon-large" src="/images/back.svg" ng-click="back()"/>
</div>
<div id="push"></div>
