<div id="content" ng-init="init()">
  <h1>What do you dream of seeing or doing on your next trip?</h1>
  <input type="text" name="term" ng-model="term" value="Write anything..." />
  <input type="image" ng-click="submit()" src="/images/submit.svg"/>
  <br>
  <div ng-show="photos.length > 0">
    <h1>Wow. Something like this?</h1>
    <li ng-repeat="photo in photos">
        <img ng-src="{{ photo.url_c }}" height="200"/>
    </li>
  </div>
</div>
<div id="back-button" ng-show="">
  <img id="icon-large" src="/images/back.svg" />
</div>
<div id="push"></div>
