<!doctype html>
<html class="no-js" lang="en" dir="ltr" ng-app="tripApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>FinnAir Trip</title>
    <!--<link rel="stylesheet" href="/css/foundation.css">-->
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <img src="/images/finnair-trip-logo.svg" />
      </div>

      <div ng-view></div>
    </div>
    <div id="footer">
      <p>Team DreamTrip</p>
    </div>

    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/what-input.js"></script>
    <script src="/js/vendor/foundation.js"></script>
    <script src="/js/app.js"></script>

    <script src="/js/vendor/angular.min.js"></script>
    <script src="/js/vendor/angular-route.min.js"></script>
    <script src="/js/tripapp/app.js"></script>
    <script src="/js/tripapp/controllers/home.js"></script>
    <script src="/js/tripapp/services/trip.js"></script>
  </body>
</html>
