@font-face {
    font-family: "Amplitude";
    src: url("../fonts/Amplitude-Regular_3557.ttf");
}


/* Header */

#header {
    height: 163px;
    width: 100%;
    box-shadow: 0px 4px 0px #b8b8b8;
    background-color: 000;
    display: flex;
    align-items: center;
}

#header img {
    height: 53px;
    margin-left: 43px;
}


/* Body */

html {
    height: 100%;
}

body {
    font-family: "Amplitude";
    font-weight: lighter;
    height: 100%;
}

#content {
    display: block;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: #18245D;
}

h2 {
    font-size: 40px;
    color: #18245D;
}

button {
    margin-top: 10px;
    background-color: #A53F8C;
    color: white;
    width: 200px;
    height: 70px;
    font-size: 50px;
    font-family: "Amplitude";
}

#back-button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
}

input {
    width: 180px;
    height: 20px;
    box-shadow: 0px 2px 0px #b8b8b8;
}

input[type=text] {
    font-family: "Amplitude";
    font-weight: lighter;
    font-size: 20px;
    color: #4D4D4D;
}

div#form {
    width: 60%;
    margin: 0 auto 1em;
}

input#term-box {
    float: left;
    padding: 0 1em;
    margin: 0;
    margin-bottom: 10px;
    border: 0;
    width: 70%;
    height: 48px;
    line-height: 48px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

input#submit-button {
    float: left;
    margin-left: 2em;
    width: 48px;
    height: 48px;
    line-height: 48px;
    box-shadow: 0 0 0 0;
}

div#photos {
    padding-top: 10px;
}

div#photos li {
    float: left;
    margin: 5px;
    list-style: none;
    cursor: pointer;
}

/* Footer */

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

#footer,
#push {
    height: 142px;
    text-align: center;
}


/* Icons */

#icon-large {
    height: 35px;
    padding-top: 50px;
}

.clearer {
    clear: both;
}
